body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(46, 173, 131);
}
header,main,footer{
    text-align: center;
    padding: 20px;
}
/* for medium screen */
@media screen and (max-width: 768px){
    body{
        background-color: rgb(184, 184, 101);
    }
    header,footer{
        background-color: brown;
    }
}
/* for small screen */
@media screen and (max-width:576px) {
    body{
        background-color: lightgrey;
    }
    header,footer{
        background-color: blue;
    }
}